@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jura:wght@400;700&display=swap');


.Generator img{
    width: 635px;
    height: 340px;
    margin-right: 25px;
}
.Generator {
    display: inline-flex;
    font-family: 'Jura', sans-serif;
    flex-direction: row;
    margin-right: 50px;
    font-weight: 700;
    position: relative;
}
.Generator a {
    color: white;
font-family: 'Jockey One', sans-serif;
}
.Generator a:hover {
    color: #ACC12F;
}
.Generator span {
    color: orange;
}