@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jura:wght@400;700&display=swap');


.Generator img{
    width: 635px;
    height: 340px;
    margin-right: 25px;
}
.Generator {
    display: inline-flex;
    font-family: 'Jura', sans-serif;
    flex-direction: row;
    margin-right: 50px;
    font-weight: 700;
    position: relative;
}
.Generator a {
    color: white;
font-family: 'Jockey One', sans-serif;
font-weight: lighter;
display: inline-flex;
}
.Generator a:hover {
    color: #16DB65;
}

.green {
    color: #16DB65;
}
.pink {
    color: #FD3C90;
}
.purple {
    color: #7952B3;
}
.aqua {
    color: #49BEAA;
}
.react {
    color: #61DAFB;
}
.yellow {
    color: #F7DF1E;
}