@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jura:wght@400;700&display=swap');

/* 
font-family: 'Jockey One', sans-serif;
font-family: 'Jura', sans-serif;
*/


span {
    color: var(--main-color);
}
:root {
    --main-color: orange;
    --bg-color: #003137;
  }
  

  .box img{
    width: 12vw;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 150px;
    
  }
  .box {
    margin: 4vw 0 0 0;
  }

   .box h1 {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    color: #7eb93a;
    font-size: 2.5vw;
  }
  h2 {
    color: var(--main-color);
  }
  .white {
    color: #fff;
  }

  .box a {
    color: #7eb93a;
    text-decoration: none;
  }
  .box a:hover {
    color: #619823;
  }

  .box div {
    margin-left: 30px;
  }
  
  @media (max-width: 770px) {
    .box h1 {
      font-size: 2.5vw;
      white-space: nowrap;
    }
    .box div {
      margin-left: 15px;
    }
    .box img {
      margin: 0;
      width: 12vw;
    }
  }