@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jura:wght@400;700&display=swap');

.Nav-bg {
    background-color: #081F22;
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    min-height: 100vh;
    height: 100%;
    padding: 0 2%;
    position: fixed;
}
svg {
    height: 30px;
    margin-bottom: 100%;
}
.Nav-bg svg:hover {
    fill: #3178C7;
}

.entries {
    height: 100vh;
    justify-content: end;
    display: inline-flex;
    flex-direction: column;
}
.top {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
 .bottom {
    position: inherit;
    bottom: 0;
    left: 0;
    margin: 0;
    margin-bottom: 10px;
 }

 
 .parent {
    flex-direction: row;
 }