@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jura:wght@400;700&display=swap');


.Game img{
    width: 42vw;
    margin-left: 25px;
    border: 3px solid;
    border-image: linear-gradient( 270deg, #007bff, #003137, rgba(255, 255, 255, 0)) 1;

}
.Game {
    display: inline-flex;
    flex-direction: row;
    font-family: 'Jura', sans-serif;
    margin-right: 50px;
    font-weight: 700;
    margin: 25px 50px 0 0;
}
.Game p{
    font-size: 1vw;
}
.Game h1 {
    font-size: 2vw;
}
.Game a{
    color: white;
font-family: 'Jockey One', sans-serif;
display: inline-flex;
}
.Game a:hover {
    color: #264DE4;
}
.green {
    color: #16DB65;
}
.pink {
    color: #FD3C90;
}
.purple {
    color: #7952B3;
}
.aqua {
    color: #49BEAA;
}
.react {
    color: #61DAFB;
}
.yellow {
    color: #F7DF1E;
}
@media (max-width: 770px) {
    .Game {
    flex-direction: column-reverse;
    margin: 0;
    }
    .Game img {
        width: 100%;
        margin: 0;
    }
    .Game p {
        font-size: 12px;
    }
    .Game h1 {
            font-size: 5vw;
            text-align: right;
    }
}