@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jura:wght@400;700&display=swap');


.Game img{
    width: 635px;
    margin-left: 25px;
}
.Game {
    display: inline-flex;
    flex-direction: row;
    font-family: 'Jura', sans-serif;
    margin-right: 50px;
    font-weight: 700;
}
.Game a{
    color: white;
font-family: 'Jockey One', sans-serif;
display: inline-flex;
}
.Game a:hover {
    color: #264DE4;
}
.green {
    color: #16DB65;
}
.pink {
    color: #FD3C90;
}
.purple {
    color: #7952B3;
}
.aqua {
    color: #49BEAA;
}
.react {
    color: #61DAFB;
}
.yellow {
    color: #F7DF1E;
}