@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jura:wght@400;700&display=swap');

/* 
font-family: 'Jockey One', sans-serif;
font-family: 'Jura', sans-serif;
*/

.skills-area {
    margin: 25px 0 0 0;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 99%;
    position: relative;
    border-radius: 10px;
}

.lists {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    background: hsla(0, 0%, 0%, 0.15);
    margin:0 10px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;

}

.lists p {
    margin: 0;
    font-size: 0.8vw;
    white-space: nowrap;
    text-align: center;

}
.white-bg svg{
    background-color: white;
    display: flex;
    width: 30px;
}
.lists svg {
    margin: 10px;
    size: 32 !important;
}
.lists h5 {
    font-family: 'Jockey One', sans-serif;
    height: 100%;
    font-size: 1vw;
    list-style-type: none;
}
.lists ul {
    list-style-type: none;
    max-width: 65px;
}

@media (max-width: 770px) {
    .skills-area {
        flex-direction: column;

        margin: 0 0 10px 0;
        background: none;
        padding: 0 50px;
    }
    .lists p {
        font-size: 1.8vw;
    }
    .lists {
        margin-top: 10px;
        padding-right: 100px;
        border-radius: 10px;
    }
    .skills-area h5 {
        font-size: 4vw;
        max-width: 127px;
        margin-right: 20px;
    }
}